h2 {
    display: flex;
    justify-content: center;
}

img {
    width: 125px;
    border-radius: 10px;
}

.lunch-special {
    display: flex;
    flex-direction: row;
}

.lunch-special-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 20px;
}

.lunch-name {
    color: black;
    font-size: 10px;
    margin: 5px;
    text-align: center;
}

.description {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}